 *
  { box-sizing:border-box;
    margin:0px;
	padding:0px;

	
  }  
.container
{
    width:1170px;
	margin:0 auto;
	padding:0 15px;
	
  }
 .row
 {
	  display:flex;
	  flex-wrap:wrap;
	  margin-right:-15px;
	  margin-left:-15px;
	  
}
 .row >*
 {
	  width:100%;
	  padding:0 15px;
	
	  
 }
 
 .co1-lg-1
{
	     width:8.33%;
}
.col-lg-2
{
	     width:16.66%;
	
}
.col-lg-3
{
	     width:25%;
		
}
  .col-lg-4
    {
	     width:33.33%;
		 
   }
   .col-lg-5
    {
	     width:41.66%;
		 
	 }
  .col-lg-6
   {
	  width:50%;
	 
   }
   .col-lg-7
   {
	 width:58.33%;
	 
   }
   .col-lg-8
   {
	 width:66.66%;
	 
   }
  .col-lg-9
   {
	 width:75%;
	
   }
   .col-lg-10
   {
	 width:83.33%;
	 
   }
   .co1-lg-11
   {
	 width:91.66%;
	 
   }
    .col-lg-12
   {
	 width:100%;
	 
   }
 
   .justify-space-between
   {
	   justify-content:justify-space-between  !important; 
   }
   .justify-content-start
   {
	  justify-content:flex-start !important;
    }
  .justify-content-end
   {
	  justify-content:flex-end !important;
   }
  .justify-content-space-between
   {
	justify-content:space-between !important;
    }
  .justify-content-space-around
   {
	justify-content:space-around !important;
    }
  .align-items-start
      {
	align-items:flex-start !important;
    }	
  .align-items-end
    {
	align-items:flex-end !important;
     }
 .align-items-center
    {
	align-items:center !important;
    }
   .align-items-baseline
    {
	align-items:baseline !important
	}
.text-left
   {
	  text-align:left !important
   }
   .text-right
   {
	  text-align:right !important
   }
   .text-center
   {
	  text-align:center !important
   }
   .text-justify
   {
	  text-align:justify !important
   }
/* common button style*/
 .btn
 {   
     display:inline-block;
	 background-color:#00bcd4;
	 text-decoration:none;
	 color:white;
	 padding:10px 25px;
	 text-align:center;
	
}	
   
  /* header section  start */
  .header
  {
	  background-color:black;
   }
 .contact span
  {
	 color:white;
	 font-size:14px;
	 margin-right:10px;
	 display:inline-block;
	 padding:14px 0;
	 
   }
  .contact span>a
  {
	  text-decoration:none;
	  color:white;
	 
	  
  }
 .contact span i
  {
	 color:#00bcd4;
	 margin-right:5px;

  }
  .contact span>a:hover
  {
	  color:#00bcd4;
  }
  .info-btn{
	  background-color:#00bcd4;
	  height:100%;
	  line-height:22px;
  }
  /*header section end */
 /* navbar section start */
 .nav
  {
	 padding:15px 0px;
	   
   }
  .logo a 
  {
	 display:inline-block;
	 color:#635551;
	 font-size:32px;
	 text-decoration:none;
	 font-weight:600;
  }
 
  .menubar
  {
	   display:flex;
	   justify-content:flex-end;
  }
 .menubar .menus a
  {
	  display:block;
	  text-decoration:none;
	  color:black;
	  font-size:14px;
	  padding:8px 15px;
	 
  } 
 li
  {
	  display:block;
  }
 .menus a:hover
 {
	  color:#00bcd4;
 }
 .menus a.active
 {
	color:#00bcd4;
}
/* nav section end */
/* banner section start */
   .twl
  {     
        
	    padding:270px 0;
		background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("image/hero.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		background-attachment:fixed;
		margin-bottom:-150px;
	
  } 
  .twlc
{
	width:60%;
}
.twlc h1
{
      color:white;
	  font-size:48px;
	  margin-bottom:15px;
	  font-family:'raleway',sans-serif;
	  font-weight:bold;
	  
	  
}	
.twlc p
{
	font-size:20px;
	color:#eee;
	margin-bottom:55px;
}
.bnr-btn 
{
   
	 position:relative;
	 display:inline-block;
	 padding:6px 0 6px 20px;
	 
	
}
.bnr-btn a
{
	 border-radius:25px;
	 padding-left:46px;
	 padding-top:12px;
	 padding-bottom:12px;
	 transition:all .3s ease;
	  font-size:15px;
	 font-weight:400;
	 background-color:#333333;
	
     
}
.bnr-btn a:hover{
	background-color:#00bcd4;
}

.bnr-btn i
{
	 position:absolute;
	 top:0;
	 left:0px;
	 background-color:#00bcd4;
	 width:50px;
	 height:50px;
	 text-align:center;
	 line-height:50px;
	 color:white;
	 border-radius:50%;
	 box-shadow:1px 0 5px 2px #00000042;
}


/* banner section end */
 /* why section start */
.whychoosesect
{
	  padding:20px;
	 
}
  .why-choose
  {
	 background-color:#00bcd4;
	 color:white;
	 padding:40px 30px;
	 border-radius:10px;
	 text-align:center;
	 
	  
	}
	.why-choose h3
	{
		font-size:30px;
		text-align:left;
	    line-height:38px;
		font-family:'Raleway',sans-serif;
		font-weight:700;
		margin-bottom:40px;
	}
	.why-choose p
	{

		margin-bottom:30px;
		text-align:left;
		
	}
	.why-choose a
	{
		display:inline-block;
		color:white;
		text-decoration:none;
		background-color:#4dc4d3;
		border-radius:25px;
		padding:8px 25px;
		transition:all .3s ease;
	}
	.why-choose a>i
	{
		margin-left:8px;
	}
	.why-choose a:hover
	{
		 color:#00bcd4;
		 background-color:white;
	}
  .chooseitem
	{
		
		background-color:white;
		border-radius:10px;
		padding:40px 20px;
		text-align:center;
		box-shadow:0  5px 8px #9e9e9e75;
		height:100%;
	}
  .chooseitem i
  {
	  font-size:35px;
	  color:#00bcd4;
  }
  .chooseitem h4
  {
	  font-size:20px;
	  margin-bottom:35px;
	  margin-top:35px;
	  font-weight:500;
  }
  .chooseitem p
  {
	  color: #7d7575;
    font-size: 16px;
  }
/* about section*/	
.abt-section
{
	 background-color:#f8feff;
	 padding:80px 0;
	 
}
.abt-img
{
	 display:flex;
	 background-image:url("image/about.jpg");
	  background-position:center;
	 background-size:cover;
	 background-repeat:no-repeat;
	 justify-content:center;
	 align-items:center;
	
}
.abt-img a
{
	display:inline-block;
	text-decoration:none;
	color:white;
}
	  
.play-btn
{
	background-color:#00bcd4;
	color:#fff;
	width:80px;
	height:80px;
	border-radius:50%;
	text-align:center;
	font-size:30px;
	line-height:80px;
}
.abt-content
{
	  padding:40px 0 40px 30px;
	
}
.abt-content h5
{
	color:#999;
	font-size:18px;
	margin-bottom:30px;
}
.abt-content h2
{
	font-size:28px;
	margin-bottom:25px;
	font-weight:500;
}
.abt-content>p
{
	font-size:16px;
	font-weight:400;
}
.aboutitems
{
	 display:flex;
	 margin-top:50px;
	 align-items:flex-start;
}
.aboutitems .abouticons
{
	width:70px;
	height:70px;
	border-radius:50%;
	border:solid 1px #00bcd4;
	background-color:#fff;
	color:#00bcd4;
	text-align:center;
	line-height:70px;
	font-size:35px;
	flex:0 0 auto;
	transition:all .3s ease;
}
.aboutitems .abouticons:hover{
	background-color:#00bcd4;
	color:white;
}
.aboutitems .aboutitemstext
{
	margin-left:20px;
}
.aboutitemstext h3{
	margin-bottom:15px;
	color:black;
	font-size:18px;
	font-weight:500;
}
.aboutcontent
{
	 cursor:pointer;
	 
}
.aboutitemstext h3:hover{
	color:#00bcd4;
	cursor:pointer;
}
.aboutitems:hover .abouticons{
	background-color:#00bcd4;
	color:white;
}
	
.aboutitemstext p
{
	margin-bottom:15px;
	color:#000000bd;
}
/*client section */
.clientlogosect
{
      background-color:#fff;
	 padding:80px 0;
}
.client-logo
{ 
padding:10px 30px;
}
.client-logo img{
	   width:100%;
	   height:auto;
	   filter:grayscale(100%);
	   opacity:0.5;
	   
} 
.client-logo:hover img{
	  filter:grayscale(0%);
	  opacity:1;
	  }
.circle
{
	text-align:center;
	padding:20px 0 0 0;
	}
.circle span
{
	display:inline-block;
	width:12px;
	height:12px;
	border:solid 1px #00bcd4;
	background-color:white;
	opacity:0.8;
	border-radius:50%;
	margin:0 3px;
	cursor:pointer;
	
}
.circle span:hover
{
   background-color:#00bcd4;
}
.circle span.active
{
background-color:#00bcd4;
} 
  	/* service section */
.servicesect
{
	background-color:#f8feff;
	padding:80px 0;
}

.sectiontitle
{
	  text-align:center;
	  
	  
}
.sectiontitle h2
{
	 color:black;
	 margin-bottom:20px;
	 font-weight:600;
	 font-size:32px;
	 font-family:'raleway',sans-serif;
}
.sectiontitle p
{
	margin-bottom:40px;
	font-weight:400;
	font-size:16px;

}
.serviceitem
{
	 background-color:white;
	 margin-top:60px;
	 position:relative;
	 padding:45px 20px 30px;
	 box-shadow:0 0 8px #ccc;
	 text-align:center;
	 min-height:200px;
	 
}
.serviceitem h3 a{
	 display:inline-block;
	text-decoration:none;
	font-size:20px;
	margin-bottom:20px;
	color:#000;
}
.serviceitem:hover h3 a
{
	  color:#00bcd4;
}
.serviceitem .serviceicone
{
	 position:absolute;
	 top:-30px;
	 left:50%;
	 width:60px;
	 height:60px;
	 text-align:center;
	 line-height:60px;
	 color:white;
	 font-size:28px;
	 transform:translateX(-50%);
	  z-index:1;
}
.serviceicone:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:solid 1px #00bcd4;
	background-color:#00bcd4;
	border-radius:50%;
	z-index:-1;
	transition:all 0.2s ease;
	
}
.serviceitem:hover .serviceicone:after{
	transform:scale(1.2);
	background-color:white;
}
.serviceitem:hover .serviceicone{
	color:#00bcd4;
} */

/* protofile*/
.protofilecessect
{    
	 
	 padding:80px 0;
	 

}

.protofile1
{
	 
	background-image:url("image/values-1.jpg");
	
}
.protofile1,.protofile2,.protofile3,.protofile4
{
	 
	
	background-size:cover;
	background-repeat:no-repeat;
	height:350px;
	margin-top:50px;
	position:relative;
	border-radius:10px;
}
.protocontent
{
	background-color:#fffffff2;
	width:500px;
	position:absolute;
	margin:180px 20px 20px 20px;
	padding:20px;
	border-radius:10px;
}
.protocontent h3{
		text-align:center;
		font-size:20px;
		margin-bottom:16px;
	}
	.protocontent p
	{
		font-size:15px;
		margin-bottom:20px;
		
		
	}
.protocontent span{
     
	font-size:14px;
}
.protocontent span:hover{
	text-decoration:underline;
}
.protocontent span a
{
	text-decoration:none;
	color: #4b4949;
    
    font-weight: 400;
	font-size:14px;
}
.protofile1:hover .protocontent   {
	
	  background-color:#00bcd4;
	  color:white;
	}
	.protofile1:hover .protocontent a 
	{
		color:white;
	}
.protocontent h3 a{
	text-decoration:none;
	color:#000;
}	
.protofile2
{
	 
	background-image:url("image/values-2.jpg");
	
}
.protofile2:hover .protocontent {
	
	  background-color:#00bcd4;
	  color:white;
	}
	.protofile2:hover .protocontent a 
	{
		color:white;
	}
	.protofile3
{
	 
	background-image:url("image/values-3.jpg");
	
}
.protofile3:hover .protocontent {
	
	  background-color:#00bcd4;
	  color:white;
	}
	.protofile3:hover .protocontent a 
	{
		color:white;
	}
	.protofile4
{
	 
	background-image:url("image/values-4.jpg");
	
}
.protofile4:hover .protocontent  {
	
	  background-color:#00bcd4;
	  color:white;
	}
	.protofile4:hover .protocontent a 
	{
		color:white;
	}
.portfoliotitle{
	text-align:center;
}
/* testmonial section start*/
.testmonialsect{
	padding:80px 0;
}
.testmonialitem
{
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.40)),url("image/testimonials-bg.jpg");
     background-size:cover;
     background-repeat:no-repeat;
	 background-position:Center;
     padding:80px;
		 

}
.testmonialcontent img{

	border-radius:50%;
	border:5px solid gray;
    width:100px;
	height:100px;
   
}
.testmonialcontent h2
{
     margin-top:20px;
	font-size:20px;
	color:white;
	
}
.testmonialcontent
{
	text-align:center;
}

.testmonialcontent h4
{

	color:#f4f3f3;
    font-size: 14px;
    font-weight: 400;
	margin-top:10px;
}
.testmonialcontent i
{
	color:gray;
	margin:10px;
}
.testmonialcontent p
{
	color: #f4f3f3;
    font-size: 16px;
    font-weight: 250;
    margin-bottom: 20px;
    font-style: italic;

}

/* portfoilio */
.portfoliosect
{
	background-color:#f0f3f2;
	padding:60px 0;
	
}


.portfolioitem{
	position:relative;
	margin-bottom:30px;
	overflow:hidden;
}
.portfolioitem img
{
	width:100%;
	height:auto;
	display:block;
}
.options
{
	display:flex;
	justify-content:center;
	margin-top:40px;
	margin-bottom:40px;
	
}

.links
{
	text-decoration:none;
	color:black;
	padding:10px 20px 12px;
	font-size:14px;
	border-radius:25px;
}

.links:hover{
	background-color:#00bcd4;
	color:white;
	
}
.links.active{
	background-color:#00bcd4;
	color:white;
}

.portfolio-content
{
	width:92%;
	position:absolute;
	bottom:30px;
	left:15px;
	background-color:white;
	padding:15px 15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	transform:translateY(40px);
	
	transition:all 0.5s ease;
	opacity:0;
	
}
.portfolioitem:hover .portfolio-content{
	opacity:1;
	transform:translateY(0px);

	
	
}
.portfolio-content h4{
	font-weight:600;
	color:black;
	font-size:18px;
	padding-bottom:14px
}
.portfolio-content h6{
	font-weight:300;
	color:#777;
	font-size:14px;
}
.porticone a 
{
	text-decoration:none;
	color:#777;
	margin-left:8px;
	font-size:18px;
}
.porticone a :hover{
	color:#00bcd4;
}
	/* blog*/
.blogsect
{    
     background-color:#f8feff;
	  padding:80px 0;
	  
	
}
.blogitem
{    
      background-color:#fff;
      border-radius:5px;
     box-shadow:0 3px 8px #9e9e9e75;
     text-align:center;	 
     position:relative;
	 overflow:hidden;
	 
	  
}
.blogitem img{
	display:inline-block;
	height:auto;
	width:100%;
}
.blog-data  h2
{
	font-family:'Raleway',sans-serif;
	font-weight:700;
    font-size:18px;
	margin:15px 0;
}
.blog-data h4{
	color: #989595;
    font-size: 13px;
    padding-bottom: 30px;
}
.blog-cnt a
{
	text-decoration:none;
	color:black;
	transition:all .3s ease;
}
.blog-cnt a:hover{
	color:#00bcd4;
}
.blog-cnt
{ 
    position:absolute;
	bottom:90px;
	left:0;
	right:0;
	font-size:22px;
	background-color:rgba(255, 255, 255, 0.8);
	padding:8px 0;
   transition:all .3s ease;
	opacity:0;
	
	
}
.blogitem:hover .blog-cnt{
	opacity:1;
}
.blog-cnt i
{
	 padding:0 5px;
}
/*-----buy ----*/
.buysection
{
	 
	  padding:60px 0;
}
.buytitle p
{
	 text-align:center;
	 font-size:16px;
	   
}
.buytitle h2
{ 
     text-align:center;
	font-size:40px;
	margin-bottom:20px;
}
.buyitem
{ 
      
	  height:400px;
	  text-align:center;
	  margin-top:30px;
	  box-shadow:0 3px 8px #9e9e9e75;
	  border-radius:5px;
	  overflow:hidden;
	  
	  
}
.buyitem h3
{
	font-size:16px;
	font-weight:600;
	color:#656262;
	background-color:#f8f8f8;
	padding:20px 0;
}
.buyitem h5>span{
	color:#00bcd4;
	font-size:35px;
}
.buyitem h5{
	color:#bababa;
	margin:20px 0;
}
.buyitem h5 span sup{
	font-size:20px;
	position:relative;
	top:-12px;
	vertical-align:sup;
}
.buyitem p
{
	margin-bottom:15px;
}
.buyitem p>del
{
	color:#bababa;
}
.buybutton
{
	
background-color:#f8f8f8;
padding:15px 0;
margin-top:30px;
display:block;
}
.buyitem h4
{
	font-size:20px;
	color:white;
	background-color:#00bcd4;
	padding:20px 0;
}
.spcl
{
	position:relative;
}
 .add
{   
   position: absolute;
    right: -36px;
    top: 18px;
    color: white;
    padding: 5px 30px;
    font-size: 15px;
    background-color: #00bcd4;
    transform: rotate(45deg);

}

.buybutton a
{
	text-decoration:none;
	color:whiite;
	box-shadow:0 0 5px #00bcd477;
}
.buybutton a:hover{
	opacity:0.6;
}
/*faq section */
.faqsection
{
	background-color:#f8feff;
	padding:80px 0;
}
.faq-col{
	flex-direction:column;
	padding:0 120px;
}
.faqitem a
{
	text-decoration: none;
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
    transition: all .2s ease;
	
}
.faqitem
{
	background-color:white;
	padding:18px 30px;
	margin-top:20px;
}
.faqrow
{
	display:flex;
	justify-content:space-between;
}
.qst1 i
{
	font-size:24px;
	color:#00bcd4;
	margin-right:8px;
	vertical-align:middle;
	
}
.qst2 i
{
	font-size:18px;
	
}
.qst2 i:hover{
	color:#00bcd4;
}
.faqitem a:hover{
	color:#00bcd4;
}


/*    contact-- */
.contectsect
{
	 background-color:white;
	 padding:80px 0;
	
}
.contactdata
{
	margin:0px 150px;
}
.fontitem address
{
	line-height:30px;
}

.contactitem
{
	   background-color:white;
	   box-shadow:0 0 30px rgb(210 205 210 / 70%);
	   margin-top:30px;
	   position:relative;
	   
}

.contactitem>i
{
	font-size:26px;
	position:absolute;
	top:22px;
	left:22px;
	border:dotted 2px #00bcd4;
	padding:10px;
	color:#00bcd4;
	border-radius:50%;
	height:50px;
	width:50px;
	line-height:30px;
	text-align:center;


}
 


.contactitem>h2{
	
	color:#000000bd;
	font-size:20px;
	font-weight:600;
	font-family:'Raleway', sans-serif;
     padding-left:80px;
	 padding-top:30px;

	
}
.contactitem>p
{
	color:#313030b0;
	font-size:14px;
	font-weight:600;
	padding-left:80px;
	padding-top:10px;
	padding-bottom:30px;
	
    
	
	
}
.formbtn
{
	border:solid 2px #00bcd4;
	cursor:pointer;
}
/* form */
.formsection
{
	margin-top:50px;
}

.forms-control
{
	width:100%;
	padding:12px 10px;
	margin-bottom:20px;
	
}
.form{
	padding:35px 25px;
	box-shadow:0 0 30px #ccc;
	margin-top:30px;
	text-align:Center
}
.forms-control:focus
{
	border-color:#00bcd4;
	outline:0;
}
/* author*/
.footsect
{
    background-color:#f8feff;
	padding:50px 0px;
	font-size:14px;
     color:#737b82;
}

.fontitem h4
{
	margin-bottom:30px;
	font-weight:600;
	font-size:26px;
	font-family:'raleway',sans-serif;
	color:#313030;
}
.fontitem address
{
	margin-bottom:25px;

	
}
.fontitem address
{
	margin-bottom:30px;
}
.fontitem p  b
{
	font-size:16px;
	font-weight:700;
}
.fontitem h3
{
	
	font-size:18px;
	font-weight:600;
	font-family:'radius',sans-serif;
	color:black;
	margin-bottom:30px;
}
.fontitem  ul li{
	margin-bottom:20px;
}

.fontitem ul li a
{
	text-decoration:none;
	color:#737b82;
	transition:all .2s ease;
	padding-left:10px;
}
.fontitem ul li i
{
	color:#00bcd4;
	font-size:16px;
	margin-bottom:-4px;
}	
.fontitem ul li a:hover
{
	color:#00bcd4;
}
.fontitem .sub
{
	margin-top:33px;
	border:solid 2px #00bcd4;
	border-radius:25px;
	background-color:white;
	overflow:hidden;
	position:relative;
	
}
.fontitem 
{
	padding:10px;
}
.emailf
{
	border-radius:25px;
	background-color:#fff;
	overflow:hidden;
	position:relative;
	margin-top:30px;
	border:solid 1px #00bcd4;

}
.emailf input
{
	padding: 8px 35px;
    margin: 4px 12px;
	width:80%;
	border:0;

}
.emailf button{
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	padding:12px 32px;
	border:none;
	background-color:#00bcd4;
	color:white;
	font-size:16px;
	border-radius:50px;
	transition:0.3s;
}
	
/* authoer section*/
.authorsection
{
     padding:20px 0;

}
.authorcontent p
{
	font-size:15px;
	font-weight:300;
	margin-bottom:5px;

}
.authorcontent p b
{
	font-size:14px;
	font-weight:600;
}
.authorcontent p a
{
	color:#00bcd4;
	text-decoration:none;
}
.fontcontent 
{
	text-align:right;
}

.fontcontent a
{
	text-decoration:none;
	display:inline-block;
	text-align:center;
	

}
.fontcontent i
{
	background-color:#00bcd4;
	color:white;
	font-size:22px;
	width:40px;
	height:40px;
	padding-left:3px;
	border-radius:50%;
	transform:translateX(-50%);
	padding-top:10px;
	transition:all .2s ease;
}
.fontcontent i:hover{
	opacity:0.6;
}
   	